<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.triptogether.common.mapper.BlockAccessLogMapper">

    <insert id="insertBlockAccessLog">
        INSERT INTO BLOCK_ACCESS_LOG (
            request_id, flow_trace_id, user_idx, session_id, request_uri, http_method,
            activity_domain, activity_type, activity_code, activity_provider, auth_event_type, target_type, target_id,
            handler_name, query_string, referer,
            ip_address, user_agent, response_status, response_time_ms,
            is_success, detail_summary,
            block_kind, block_match_type, block_target_key, block_request_id, block_rule_idx,
            block_reason, country_code, asn, cache_source,
            source_action_type, source_action_group_id, source_user_idx, source_ip_address,
            is_source_user_match, is_source_ip_match, is_source_user_ip_intersection
        ) VALUES (
            #{requestId}, #{flowTraceId}, #{userIdx}, #{sessionId}, #{requestUri}, #{httpMethod},
            #{activityDomain}, #{activityType}, #{activityCode}, #{activityProvider}, #{authEventType}, #{targetType}, #{targetId},
            #{handlerName}, #{queryString}, #{referer},
            #{ipAddress}, #{userAgent}, #{responseStatus}, #{responseTimeMs},
            #{success}, #{detailSummary},
            #{blockKind}, #{blockMatchType}, #{blockTargetKey}, #{blockRequestId}, #{blockRuleIdx},
            #{blockReason}, #{countryCode}, #{asn}, #{cacheSource},
            #{sourceActionType}, #{sourceActionGroupId}, #{sourceUserIdx}, #{sourceIpAddress},
            #{sourceUserMatch}, #{sourceIpMatch}, #{sourceUserIpIntersection}
        )
    </insert>

</mapper>
